<div id="wecan" class="block">
  <div class="block_title">
    <p class="">Что мы можем такого, что не могут другие</p>
  </div>

  <div class="features_bot_block">
    <div class="features_bot_element">
      <img class="features_bot_element_img" src="assets/images/what-we-can/iocn_low-price.png" alt="Group">
      <h2 class="text_center title_text">Надежнее</h2>
      <p class="features_bot_element_text">Все ценят качественный сервис. Наша служба поддержки оперативно ответит на
        все ваши вопросы. Для корпоративных клиентов
        обеспечим необходимый уровень сервиса (SLA).</p>
    </div>

    <div class="features_bot_element">
      <img class="features_bot_element_img" src="assets/images/what-we-can/icon_clock.png" alt="Graph">
      <h2 class="text_center title_text">Быстрее</h2>
      <p class="features_bot_element_text">Разработка сценариев и интеграций в конструкторе намного быстрее и проще, чем
        использование чистого кода на языке
        программирования. Вы сами сможете корректировать контент и сценарии.</p>
    </div>

    <div class="features_bot_element">
      <img class="features_bot_element_img" src="assets/images/what-we-can/icon_network.png" alt="Head">
      <h2 class="text_center title_text">Больше</h2>
      <p class="features_bot_element_text">Универсальная цифровая коммуникационная платформа для решения широкого круга
        задач на любом этапе жизни клиента (от
        лидогенерации и торговли до поддержи и лояльности).</p>
    </div>
  </div>

</div>