<div id="demo" class="block">
  <div class="block_title">
    <p class="">Демонстрационный чат-бот</p>
  </div>

  <div class="demo_content_block">
    <p class="demo_content_text">Попробуй чат-бота в деле.
      Используй любимую соцсеть или мессенджер!
    </p>

    <div class="demo_content_ref">

      <div class="demo_content_ref_item">
        <a href="tg://resolve?domain=MetabotBot" onclick="yaCounter55865395.reachGoal('demobot'); return true;">
          <img class="demo_content_ref_img" src="assets/images/demo-bot/telegram_icon.svg">
          <p>Telegram</p>
        </a>
      </div>

      <div target="_blank" class="demo_content_ref_item">
        <a target="_blank" href="https://wa.me/79856819299?text=Привет!%20Я%20с%20сайта%20metabot24.info, хочу%20посмотреть%20на%20возможности%20вашего%20чат-бота" onclick="yaCounter55865395.reachGoal('demobot'); return true;">
          <img class="demo_content_ref_img" src="assets/images/demo-bot/Icon_WhatsApp.svg">
          <p>WhatsApp</p>
        </a>
      </div>

      <div target="_blank" class="demo_content_ref_item">
        <a target="_blank" href="https://vk.me/metabot24" onclick="yaCounter55865395.reachGoal('demobot'); return true;">
          <img class="demo_content_ref_img" src="assets/images/demo-bot/vk.png">
          <p>VKontakte</p>
        </a>
      </div>

      <div target="_blank" class="demo_content_ref_item">
        <a target="_blank" href="https://www.messenger.com/t/metabot24" onclick="yaCounter55865395.reachGoal('demobot'); return true;">
          <img class="demo_content_ref_img" src="assets/images/demo-bot/facebook.png">
          <p>Facebook</p>
        </a>
      </div>

      <div target="_blank" class="demo_content_ref_item">
        <a target="_blank" href="https://www.instagram.com/metabot24" onclick="yaCounter55865395.reachGoal('demobot'); return true;">
          <img class="demo_content_ref_img" src="assets/images/demo-bot/instagram.png">
          <p>Instagram</p>
        </a>
      </div>

      <div target="_blank" class="demo_content_ref_item">
        <a target="_blank" href="viber://pa?chatURI=metabot24" onclick="yaCounter55865395.reachGoal('demobot'); return true;">
          <img class="demo_content_ref_img" src="assets/images/demo-bot/viber.png">
          <p>Viber</p>
        </a>
      </div>

    </div>
  </div>

</div>
