<div id="ready-integrations" class="block">
  <div class="block_title">
    <p class="">Готовые интеграции</p>
  </div>
  <div class="block_subtitle">
    <p class="subtitle">Подключите вашего бота к популярным омниканальным платформам или используйте наши прямые
      интеграции с мессенджерами и
      социальными сетями</p>
  </div>
  <div class="ready-integrations_platforms_1">
    <div class="ready-integrations_platform">
      <img src="assets/img/Jivo.png" alt="Jivo" class="platforms-logo">
    </div>
    <div class="ready-integrations_platform umnico">
      <img src="assets/img/umnico.png" alt="Umnico" class="platforms-logo">
    </div>
    <div class="ready-integrations_platform">
      <img src="assets/img/webim.png" alt="Webim" class="platforms-logo">
    </div>
  </div>
  <div class="ready-integrations_platforms_2">
    <div class="ready-integrations_platform">
      <img src="assets/img/Bitrix24.png" alt="Bitrix24" class="platforms-logo">
    </div>
    <div class="ready-integrations_platform">
      <img src="assets/img/logo-ltx.png" style="width: 256px;
        height: 155px;" alt="Livetex" class="platforms-logo">
    </div>
    <div class="ready-integrations_platform">
      <img src="assets/img/Metabot-Logotype-A.png" alt="Metabot" class="platforms-logo">
    </div>
  </div>

</div>