<div id="price" class="block">
  <div class="block_title">
    <p class="">Цены на услуги</p>
  </div>
  <div class="price_block">
    <div class="price_element">
      <p class="price_element_header">
        Стоимость типового решения для малого и среднего бизнеса
      </p>
      <p class="price_element_price">
        от 199 900 рублей
      </p>

      <div class="list_block">
        <img class="list_element_ok_img" src="assets/images/price/icon_check.png" alt="Ok">
        <p class="list_element_ok">
          Согласование сценариев и контента чат-бота
        </p>
      </div>

      <div class="list_block">
        <img class="list_element_ok_img" src="assets/images/price/icon_check.png" alt="Ok">
        <p class="list_element_ok">
          Проектирование и разработка
        </p>
      </div>

      <div class="list_block">
        <img class="list_element_ok_img" src="assets/images/price/icon_check.png" alt="Ok">
        <p class="list_element_ok">
          Тестирование и сдача чат бота заказчику
        </p>
      </div>

      <div class="list_block">
        <img class="list_element_ok_img" src="assets/images/price/icon_check.png" alt="Ok">
        <p class="list_element_ok">
          Имеется возможность развернуть платформу у вас (On-Premise)
        </p>
      </div>
    </div>
    <div class="price_element">
      <p class="price_element_header">
        Размещение чат-бота на
        сервисе Metabot24
      </p>
      <p class="price_element_price">
        от 2000 руб/ мес.
      </p>

      <div class="list_block">
        <img class="list_element_ok_img" src="assets/images/price/icon_check.png" alt="Ok">
        <p class="list_element_ok">
          Cтоимость зависит от количества активных пользователей/диалогов в месяц *
        </p>
      </div>

      <div class="list_block">
        <img class="list_element_ok_img" src="assets/images/price/icon_check.png" alt="Ok">
        <p class="list_element_ok">
          Вы получаете администраторский аккаунт на нашей платформе, что позволяет корректировать сценарии, контент и
          интеграции
        </p>
      </div>

      <div class="list_block">
        <img class="list_element_ok_img" src="assets/images/price/icon_check.png" alt="Ok">
        <p class="list_element_ok">
          Вы получаете встроенный в ваши коммуникации чат-бот с единой базой контактов для ручных и автоматических
          рассылок с
          push-уведомлениями
        </p>
      </div>
    </div>
  </div>

  <h3 class="text_center price_link">* Подробнее по ссылке <a
      href="https://metabot24.com/pricing">https://metabot24.com/pricing</a></h3>

  <div class="present_block bordered_block_5 p-none">
    <div class="present_block_left">
      <img src="assets/img/present.svg" alt="present">
      <p>Бесплатно</p>
    </div>
    <div class="present_block_right">
      <p>Вы можете начать прямо сейчас <strong>самостоятельно и бесплатно</strong>, зарегистрировавшись на сайте
        конструктора и
        воспользовавшись
        нашими документацией и уроками. После регистрации вы получите <strong>бесплатный тариф</strong>, который
        включает 100 активных
        диалогов
        в
        месяц.</p>
    </div>
  </div>

  <div class="contact_block">
    <p class="text_center bordered_block_5_text_26">
      Хотите узнать на что способен чат-бот конкретно в вашем проекте?
    </p>
    <h3 class="text_center bordered_block_5_text_30">
      Оставьте заявку на бесплатную консультацию прямо сейчас
    </h3>

    <div class="bordered_block_5_flex_box block_center">
      <div class="bordered_block_5_flex_box_item">
        <img class="bordered_block_5_flex_box_item_img block_center" src="assets/images/price/Big%20phone.png"
          alt="phone">
        <p class="bordered_block_5_flex_box_item_text block_center text_center">Позвоните нам: <a
            href="tel:+84999385898"> 8 (499) 938-58-98</a></p>
      </div>
      <div class="bordered_block_5_flex_box_item">
        <p class="text_center block_center bordered_block_5_flex_box_item_text">или оставьте заявку</p>
        <div class="block_center bordered_block_5_flex_box_button">
          <app-order-button (click)="openCallback()" [blue]="true"></app-order-button>
        </div>
      </div>
    </div>
  </div>

</div>