<div id="whatIsChatbot" class="block">
  <div class="block_title">
    <p class="">Что такое разговорный бот?</p>
  </div>

  <div class="features_bot_block">
    <div class="features_bot_element">
      <img class="features_bot_element_img" src="assets/images/what-is-chatbot/003-light-bulb.png" alt="Group">
      <h2 class="text_center">Смысл</h2>
      <p class="features_bot_element_text">Упрощение коммуникаций на всех уровнях бизнеса, экономия времени в операционных процессах для развития и роста.
      А для вашего клиента это еще и улучшение клиентского сервиса.</p>
    </div>

    <div class="features_bot_element">
      <img class="features_bot_element_img" src="assets/images/what-is-chatbot/004-ui.png" alt="Graph">
      <h2 class="text_center">Цифры</h2>
      <p class="features_bot_element_text">Количество пользователей мессенджеров, социальных сетей и платформ, в которых выполняются чат-боты - давно превысило
      несколько миллиардов. Это объясняет ежегодный рост рынка чат-ботов, который составляет 30% в год.</p>
    </div>

    <div class="features_bot_element">
      <img class="features_bot_element_img" src="assets/images/what-is-chatbot/icon_increase.png" alt="Head">
      <h2 class="text_center">Перспективы</h2>
      <p class="features_bot_element_text">В ближайшем будущем средства коммуникации на базе web-технологий ожидает радикальная и динамичная перестройка, для
      обеспечения тесной интеграции с мессенджерами и ключевая роль в ней будет принадлежать чат-ботам.</p>
    </div>
  </div>

</div>
